<section class="teams-index">

  <header class="page-header">
    <h1>Teams</h1>
  </header>

  <div class="teams">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @teams %>
      </tbody>
    </table>

  </div>

</section>
