<section class="teams-index">

  <header class="page-header">
    <h1>Teams</h1>
  </header>

  <div class="teams">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Games Played</th>
          <th scope="col">Wins</th>
          <th scope="col">Losses</th>
          <th scope="col">Overtime</th>
          <th scope="col">Points</th>
          <th scope="col">Point Percent Game</th>
          <th scope="col">Goals Per Game</th>
          <th scope="col">Goals Against Per Game</th>
          <th scope="col">EvGGA Ratio</th>
          <th scope="col">Power Play Percentage</th>
          <th scope="col">Power Play Goals</th>
          <th scope="col">Power Play Goals Against</th>
          <th scope="col">Power Play Opportunities</th>
          <th scope="col">Penalty Kill Percentage</th>
          <th scope="col">Shots Per Game</th>
          <th scope="col">Shots Allowed</th>
          <th scope="col">Win Score First</th>
          <th scope="col">Win Opponent Score First</th>
          <th scope="col">Win Lead First Period</th>
          <th scope="col">Win Lead Second Period</th>
          <th scope="col">Win Outshoot Opponent</th>
          <th scope="col">Win Outshot By Opponent</th>
          <th scope="col">Face Offs Taken</th>
          <th scope="col">Face Offs Won</th>
          <th scope="col">Face Offs Lost</th>
          <th scope="col">Face Off Win Percentage</th>
          <th scope="col">Shooting Percentage Game</th>
          <th scope="col">Save Percentage Game</th>
        </tr>
      </thead>
      <tbody>
        <%= render @teams %>
      </tbody>
    </table>

  </div>

</section>
