<section class="teams-index">

  <header class="page-header">
    <h1>Teams</h1>
  </header>

  <div class="teams">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Games Played</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Overtime</th>
          <th>Points</th>
          <th>Point Percent Game</th>
          <th>Goals Per Game</th>
          <th>Goals Against Per Game</th>
          <th>EvGGA Ratio</th>
          <th>Power Play Percentage</th>
          <th>Power Play Goals</th>
          <th>Power Play Goals Against</th>
          <th>Power Play Opportunities</th>
          <th>Penalty Kill Percentage</th>
          <th>Shots Per Game</th>
          <th>Shots Allowed</th>
          <th>Win Score First</th>
          <th>Win Opponent Score First</th>
          <th>Win Lead First Period</th>
          <th>Win Lead Second Period</th>
          <th>Win Outshoot Opponent</th>
          <th>Win Outshot By Opponent</th>
          <th>Face Offs Taken</th>
          <th>Face Offs Won</th>
          <th>Face Offs Lost</th>
          <th>Face Off Win Percentage</th>
          <th>Shooting Percentage Game</th>
          <th>Save Percentage Game</th>
        </tr>
      </thead>
      <tbody>
        <%= render @teams %>
      </tbody>
    </table>

  </div>

</section>
