<ul>
    <li><strong>Wins:</strong> <%= @teams.find(1).wins %></li>
    <li>Losses:</strong> option <%= @teams.find(1).losses %></li>
    <li><strong>Goals:</strong> option 3</li>
    <li><strong>Goals/Game:</strong> option 4</li>            
</ul>