// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  // font-size: 12px;
  margin: 0;
}

// background
.masthead {
  height: 75vh;
  background-image: image-url("60033939_l.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-top: -25px;
  border-bottom: 1px solid #ced6de;

  // .video {
  //   position: fixed;
  //   top: 50%;
  //   left: 50%;
  //   z-index: -1;
  //   min-width: 100%;
  //   width: auto;
  //   height: auto;
  //   transform: translate(-50%, -50%);
  //   margin-top: -42px;
  // }

  // feature box
  .jumbotron {
    padding: 1rem 2rem;
    min-width: 22rem;
    min-height: 15rem;
    border-radius: 2rem;

    .alert {
      z-index: 12;
      display: flex;
      margin: 0;
    }

    .sim-matchup {
      display: flex;

      .team-selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;

        .logo-container {
          display: flex;
          position: relative;
          width: 10em;
          height: 10em;
          overflow: hidden;
          border-radius: 50%;
          background: white;
          margin: 2em auto;

          .team-logo {
            width: auto;
            height: 60%;
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
}

// .div-header {
//   width: 100%;
//   background: darkblue;
//   color: white;
//   text-align: center;
//   padding-top: .2em 0;
//   margin: 0;
// }

.games-container {
  padding: 2em;
  background: white;
}