// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-users {
    margin: 12em;
    // background-color: #cccccc;
}

.form-group {
    margin-right: 10%;
}

.form-control {
    background-color: #f7f8f9;
}