
<nav class="navbar fixed-top navbar-light bg-light" id="top_nav">
<a class="navbar-brand" href="/">Face_Off</a>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="/">Home</button>
  <button type="button" class="btn btn-default"><a href="/charts">Charts</button>
  <button type="button" class="btn btn-default"><a href="/compare">Compare Teams</a></button>
</div>


<div>
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
</div>
</nav>